<!DOCTYPE html>
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'Essa é a página Sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Sou Murilo Ribeiro Cristiano, 30 anos.</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>