/* 
    Global values:
    color: inherit; (Default: Herda a cor anterior)
    color: initial; (Reseta a cor, mesmo que não definir)
    color: unset; (Deixa indefinido, por padrão também)

    Nada aqui é muito utilizado, apenas para estudo.
*/