* {
  margin: 0;
}

header {
    padding: 2rem;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 20px;
}

.navcontainer{
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    gap: .8rem;
}

a {
    text-decoration: none;
    color: black;
}

.navcontainer nav button:last-child {
    color: white;
    background: rgb(71, 122, 139);
    border: 0;
    padding: 1rem;
}